.logo-image {
  background-size:cover;
  max-width: 28px;
  height: auto;
}

.logo-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 50px;
    margin: 10px 0px 0px 2px;
    display: flex;
    width: 90%;
}

#user-email {
  color: #bfcccc;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 3px 0px 0px 5px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
